*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h3, h4{
    margin: 5px;
    text-align: center;
}

button{
    font-size: 2vh;
    width: 10vw;
    height: 3vh;
    margin-bottom: 2px;
}

canvas{
    background-color: #3c3c3c;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: lightslategray;
}

.wrapper{
    display: flex;
    justify-content: center;
}